
.container{
    background-image: url(../resources/Banner\ Image.png);
    border-radius: 14px;
    background-size: contain;
    width: 1140px;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.photo{
    text-align: center;
    color: white;
    padding: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.788) , rgba(255, 255, 255, 0));
}
.photo h2{
    font-size: 100px;
}

.color{
    color: red;
}

.content{
font-size: 85px;
}

.photo-2{
        text-align: center;
    color: white;
    padding: 90px;
}